.weken-button {
    background: url("../assets/wk.png");
    background-size: auto 110%;
    background-position: center;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0 0 4px 4px #fffffa9a;
    border-radius: 50%;
}